<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- List of DAO -->

	<bean id="carrental.DriverMasterDao" class="com.company.carrental.data.core.dao.DriverMasterDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>

	<bean id="carrental.DriverContactDao"
		class="com.company.carrental.data.core.dao.DriverContactDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>

	<bean id="carrental.DriverAddressDao"
		class="com.company.carrental.data.core.dao.DriverAddressDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>

	<bean id="carrental.DriverEducationDao"
		class="com.company.carrental.data.core.dao.DriverEducationDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>

	<bean id="carrental.DriverEmploymentDao"
		class="com.company.carrental.data.core.dao.DriverEmploymentDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>
	
	<bean id="carrental.DriverBackgroundCheckDao"
		class="com.company.carrental.data.core.dao.DriverBackgroundCheckDaoImpl">
		<property name="sessionFactory">
			<ref bean="carrental.sessionFactory" />
		</property>
	</bean>
	

</beans>